<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rover Photo Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Clarity Tag -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "gst5q8rm7g");
</script>


</head>

<body>
    <div class="container" style="margin-top: 15px">
        <div class="row">
            <!--A form for selecting the sol and camera, the camera will be a dropdown and the sol will be a number-->
            {% csrf_token %}
            <form action="" method="get">
                <div class="form-group col-md-3">
                    <label for="sol">Sol</label>
                    <input type="number" name="sol" id="sol" class="form-control" value="{{ request.GET.sol|default:'1000' }}">
                </div>
                <div class="form-group col-md-3">
                    <!--input page number selection-->
                    <label for="page">Page</label>
                    <input type="number" name="page" id="page" class="form-control" value="{{ request.GET.page|default:'1' }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="camera">Camera</label>
                    <select name="camera" id="camera" class="form-control">
                        <option value="all">All</option>
                        <option value="fhaz">Front Hazard Avoidance Camera</option>
                        <option value="rhaz">Rear Hazard Avoidance Camera</option>
                        <option value="mast">Mast Camera</option>
                        <option value="chemcam">Chemistry and Camera Complex</option>
                        <option value="mahli">Mars Hand Lens Imager</option>
                        <option value="mardi">Mars Descent Imager</option>
                        <option value="navcam">Navigation Camera</option>
                        <option value="pancam">Panoramic Camera</option>
                        <option value="minites">Miniature Thermal Emission Spectrometer (Mini-TES)</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="api_key">API Key</label>
                    <input type="text" name="api_key" id="api_key" class="form-control" value="{{ request.GET.api_key|default:'' }}">
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>

        <div class="row">
  {% for item in data.photos %}
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{{ item.img_src }}" target="_blank">
          <img src="{{ item.img_src }}" alt="">
        </a>
        <div class="caption">
          <p>{{ item.sol }}</p>
          <p>{{ item.camera.full_name }}</p>
          <p>{{ item.earth_date }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
